################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MeetingManagerAPI/MeetingManagerAPI/bin
/MeetingManagerAPI/MeetingManagerAPI/obj/Release/netcoreapp2.1
/MeetingManagerAPI/MeetingManagerAPI/obj
/MeetingManagerAPI/MeetingManagerAPI/obj
